@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker&display=swap');
.contenedor-about{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center   ;

}

.contenedor-Yo{
    

    
}

p {
    
    text-align: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}

#title {
    text-align: center;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}

.imgYo .contenedor-Yo{
    display: inline-block;
}



.imgYo{
    margin: 200px;
}

.contenedor-Yo{
    margin: 150px;
}


.skills {
    display: grid;
    grid-template-columns: auto auto;
    
}

.skill .contact{
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
    display: inline-block;
    text-align: center;
}

h2{

    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    text-align: center;
}

ul{
    text-align: center;
}